.addNew {
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    background-color: #48c9b0;
    text-align: center;
    border-style: solid;
    margin: 10px;
    

}

.addNew:hover {
    background-color: #a3e4d7;
}


.addNewContainer {
    text-align: center;
    padding: 20px 0;
    border-bottom: solid 2px;
    border-bottom-color: #2874A6;
}