.text-area {
    padding: 15px;
    border-radius: 2%;
    height: 200px;
    width: 500px;
    color: #777;

}

.new-post {
    
        padding: 0;
        height: 45px;
        width: 80px;
        border-radius: 15%;
        font: sans-serif arial;
        font-size: 25px;
        color: #fff;
        background-color: #48c9b0;
        text-align: center;
        border-style: solid;
        margin: 15px;
        display: right;
    }

.new-post:hover {
    background-color: #a3e4d7;
}

.cancel-form {
    
        padding: 0;
        height: 45px;
        width: 95px;
        border-radius: 10%;
        font: sans-serif arial;
        font-size: 25px;
        color: #fff;
        background-color: #e74c3c;
        text-align: center;
        border-style: solid;
        margin: 15px;
        display: right;
    }

.cancel-form:hover {
    background-color: #f1948a;
}

.text-container {
    text-align: center;
    padding: 10px;
}